.vscode/

# project related
node_modules/
build/
coverage/
dist/

# sensitive information
.env
ormconfig.json

# temp files
tmp/*
!tmp/uploads/
tmp/uploads/*
!tmp/uploads/.gitkeep

# yarn
yarn-error.log
